.DS_Store
*.bak
db/
incremental_db/
output_files/
transcript
work/
*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.html
*.jdi
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.sdo
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
*.vho
*~
*example*
*sopc_*

# ignore compilation output of ModelSim
*.mti
*.dat
*.dbs
*.psm
*.bak
*.cmp
*.jpg
*.html
*.bsf

# ignore simulation output of ModelSim
wlf*
*.wlf
*.vstf
*.ucdb
*.xrf
cov*/
transcript*
sc_dpiheader.h
vsim.dbg
